form {
  input {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 6px;
    font-size: 0.8rem;
    outline: none;
    color: #333;
    width: 100%;

    &::placeholder {
      font-family: "Lato", sans-serif;
      color: #d9d9d9;
    }
  }

  &.find-city {
    display: flex;
    align-items: center;

    button {
      background: transparent;
      cursor: pointer;
      box-shadow: none;
      border: none;
      color: #00b4ef;
      outline: none;
    }
  }
}