
//Calculator wrapper

.calculatorWrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

//Calculator upper

.calculatorUpper{
  display: flex;
  justify-content: space-between;
  color:white;
  width: 100%;
  height: 15%;
  background-color: grey;
  font-size: 6rem;
  &>div{
    margin-right: 2rem;
  }

}

//Calculator body

.calculatorBody{
  width: 100%;
  height: 85%;
  background-color: grey;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex:auto;
  &>div{
    width: 100%;
    display: flex;
    flex:auto;
  }

}

//Calculator buttons

.calculatorButton{
  display: inline-flex;
  width: 25%;
  flex:auto;
  &>button{
    flex:auto;
    font-size: 3rem;
    background-color: white;
  }
}

.calculatorButton-large{
  display: inline-flex;
  width: 50%;
  flex:auto;
  &>button{
    flex:auto;
    font-size: 3rem;
    background-color: white;


  }
}

.calculatorButton-small{
  display: inline-flex;
  width: 25%;
  flex:auto;
  &>button{
    flex:auto;
    font-size: 3rem;
    background-color: white;
  }
}

//Buttons colors

.calculatorButton-colores{
  display: inline-flex;
  width: 25%;
  flex:auto;
  &>button{
    flex:auto;
    font-size: 3rem;
    background-color: crimson;
  }
}

.calculatorButton-small-colores{
  display: inline-flex;
  width: 25%;
  flex:auto;
  &>button{
    flex:auto;
    font-size: 3rem;
    background-color: crimson;
  }
}


@media only screen and(max-width:540px) {
  .calculatorUpper,
  .calculatorButton>button,
  .calculatorButton-small>button,
  .calculatorButton-large>button,
  .calculatorButton-colores>button,
  .calculatorButton-small-colores>button{
    font-size: 3rem;
    font-weight: lighter;
  }
}


@media only screen and(orientation: landscape){
  .calculatorWrapper{
    flex-direction: row;
  }
  .calculatorUpper{
    font-size: 3rem;
  }
}

//Home button

.calcHome{
  font-family: 'Roboto Th',sans-serif;
  height: 4vh;
  border: 1px solid crimson;
  background-color: crimson;
  font-weight: bold;
  font-size: .4em;
}


